{% extends "global/base.html" %}

{% block title %}
{% if user.is_authenticated %}
    Login | {{ request.user }}
{% else %}
    Login | Recipes
{% endif %}
{% endblock title %}


{% block content %}

<div class="main-content container">
    <div class="register-label">
        <h2>Login</h2>
        {% if user.is_authenticated %}
            <p>You are logged in with {{ user }}</p>
        {% else %}
            {% include "authors/partials/login_message.html" %}
            <p>You dont have an account? <a href="{% url "authors:register" %}">Register</a></p>
        {% endif %}
    </div>

    {% include "global/partials/messages.html" %}

    {% if user.is_authenticated %}
        <div class="go-dashboard">
            <h1>Go to your <a href="{% url "authors:dashboard" %}">Dashboard</a></h1>
        </div>
    {% else %}
        {% include "global/partials/form.html" %}
    {% endif %}

{% endblock content %}