{% if user.is_authenticated %}
<div class="login-message">
    {% if dashboard %}
    <a href="{% url 'authors:dashboard_recipe_new' %}" class="plaintext-button">➕ Create</a>
    <form class="inline-form" action="{% url "authors:logout" %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ request.user.username }}">
        <button class="plaintext-button" type="submit">↪ Logout</button>
    </form> 
    {% else %}
        <a href="{% url "authors:dashboard" %}" class="plaintext-button">👀 Recipes</a>
    {% endif %}
</div>
{% endif %}